################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/07. Array Cardio 2/.vs
/*/.vs
